@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #7e7eee;
    display: grid;
    place-items: center
    
}

.card {
    background-color: #f05151;
    border-radius: 50px;
    color:white;
    font-family: 'Marcellus', serif;
    font-weight: bolder;
    
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #1550da;
    font-size: 20px
}

.fa {
    color:white;
    font-size: larger;
}

*:focus {
    outline: none
}